body {
    height: 100%;
    padding: 0;
}
header {
    width: 100%;
    height: 100vh; 
    background: url('../card/bg.svg') no-repeat 50% 50%;
    background-size: cover;
} 
header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background: linear-gradient(90.28deg, #000000 26.86%, rgba(0, 0, 0, 0.450189) 78.18%, rgba(0, 0, 0, 0) 99.95%);
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
/* KONTEN */
.card{
    border: none;
    padding: 15px 5px;
}
.card-icon{
    width: 50px;
    text-align: center;
    margin: 0 auto;
}
.card-body h6{
    font-family: Titillium Web;
font-size: 23px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: center;

}
.card-text{
    font-size: 10px;
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;

}
.read-more{
    font-family: Titillium Web;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
/*KONTEN-services */
.title-services{
    font-size: 24px;
    font-family: Montserrat;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #2A7C6F;
}
.services p{
    font-family: Titillium Web;
font-size: 13px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #444444;

}
.services ul li{
    font-size: 16px;
    font-family: Montserrat;
     font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A7C6F;
}
.news-title{
    font-family: Titillium Web;
font-size: 22px;
font-weight: 600;
line-height: 34px;
letter-spacing: 0em;
text-align: left;

}
.category-news{
    margin: 10px 0;
    font-family: Open Sans;
font-size: 14px;
font-weight: 600;
text-align: left;
color: #2A7C6F;

}
.card-news{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin: 5px 0 20px 0;
}
.mark-news{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.tanggal-news{
    font-family: Open Sans;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}
.col-md-2 h5 {
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search ::placeholder {
    color: #AAAAAA; 
  }